/* Import Tailwind CSS from CDN */
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

/* Custom styles */
body {
    background-color: #f3f4f6;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button:hover {
    background-color: #4c51bf;
}

.hidden {
    display: none;
}

.navbar {
    width: 100%;
    background: rgb(23 37 84);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: rgba(51, 51, 51, 0.9);
}

.nav-logo img {
    width: 50px;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #2980b9;
}